DEBUG=True
SECRET_KEY=django-insecure-@lp_u$)zlj&i2esg&l^v4zb=wonnz@cad72f=lhni-4(vni2te
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (For Production PostgreSQL Integration)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=ecommerce_insights
# DB_USER=postgres
# DB_PASSWORD=postgrespassword
# DB_HOST=db
# DB_PORT=5432
